<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.darwin.ankitsrivastava.mynyit">

<uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme.Base">
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".BarcodeMain" />
        <activity android:name=".add_note_activity" />
        <activity android:name=".CalanderActivity" />
        <activity android:name=".NotePreviewActivity" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".StudentConnect" />
        <activity android:name=".Acadamics"></activity>
        <activity
            android:name=".BarcodeCaptureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Barcode_Result"></activity>

    </application>


</manifest>